@tailwind base;

* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}

@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth !important;
    padding: 0;
    margin: 0;
    font-family: var(--font-prompt);
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  * {
    box-sizing: border-box;
  }
}

.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 10rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet-active {
  background: #000 !important;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 30px !important;
  right: auto;
  opacity: 0.75;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: url("/assets/previous1.svg") !important;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 30px !important;
  left: auto;
  opacity: 0.75;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  opacity: 1;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: url("/assets/next1.svg") !important;
}

.load-more:hover svg {
  animation: spin 1s linear infinite;
}

#social svg:hover circle {
  fill: black;
}

#social svg:hover #Path_548021 {
  fill: black;
}

#social svg:hover ellipse {
  fill: black;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --loading-grey: #ededed;
}

.card {
  width: 320px;
  background-color: #fff;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.12);
}

.image {
  height: 100%;
}

.loading .image,
.loading h4,
.loading .description {
  background-color: var(--loading-grey);
  background: linear-gradient(
      100deg,
      rgba(255, 255, 255, 0) 40%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0) 60%
    )
    var(--loading-grey);
  background-size: 200% 100%;
  background-position-x: 180%;
  animation: 1s loading ease-in-out infinite;
}

@keyframes loading {
  to {
    background-position-x: -20%;
  }
}

.border-img {
  border: 20px solid transparent;
  padding: 0px;
  border-image: url("/assets/king2565/R10Border.svg") 15 stretch;
}

@media screen and (max-width: 768px) {
  .border-img {
    border: 20px solid transparent;
    padding: 0px;
    border-image: url("/assets/king2565/R10Border.svg") 10 stretch;
  }
}
